<div class = 'user'>
    <input [(ngModel)] = "user" type = "text"><button (click) = "changeuser()">Change user</button>
  </div>
  
  <div>
    {{user}}
  </div>
  <div>
      <ul>
         <!--הטודו שאחרי הדטה זה הטודו שאחרי המילה לט-->
        <todo *ngFor = "let todo of todos"
         [data] = "todo" 
         (myButtonClicked) = "showText($event)"> <!--כל המידע שהגיע מאיבנט-אמיטר נכנס לתוך איבנט--> 
        </todo>
      </ul>
    </div>
    <div>
    this is the text from the child: {{todoTextFromTodo}}
    </div>