<mat-card class="example-card">
    <mat-card-content>

        <a routerLink = "">Todos</a> - 
        <a *ngIf = "!(authService.user | async)" routerLink = "/login">Login</a> -
        <button *ngIf = "authService.user | async" (click) = "logout()">Logout</button>
        <button (click) = "toRegister()">
          Register
        </button>
        
        <button (click) = "toCodes()">
          Codes
        </button> - 

        <a routerLink = "/user">User Todos</a>
    </mat-card-content>
</mat-card>

<div *ngIf = "authService.user | async">
    <h1> Welcome {{(authService.user | async)?.displayName}} </h1>
     
   </div>
