<div>
    <mat-form-field>
      <input [(ngModel)] = "text" matInput placeholder="Add todo">
      <mat-hint>Todo item</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="addTodo()">Add</button>
  </div>
  
  
  
  <div>
    <ul>
       <!--הטודו שאחרי הדטה זה הטודו שאחרי המילה לט-->
      <todo *ngFor = "let todo of todos"
       [data] = "todo" 
       (myButtonClicked) = "showText($event)"> <!--כל המידע שהגיע מאיבנט-אמיטר נכנס לתוך איבנט--> 
      </todo>
    </ul>
  </div>
  